.task-item {
  font-size: 1.3rem;
  cursor: pointer;
  flex-grow: 1;
}

.task-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-done {
  position: relative;
  text-decoration: line-through;
  color: rgba(192, 192, 192, 0.7);
  overflow: hidden;
  transition: all 0.4s ease-in;
}

.remove-task {
  color: rgb(170, 25, 25);
  background: rgba(230, 230, 230, 0.4);
  transition: all 0.4s ease-in;
}

.remove-task:hover,
.remove-task:active {
  color: rgba(170, 25, 25, 0.7);
  transform: translateY(-0.2rem);
  box-shadow: 3px 13px 18px -10px rgba(0, 0, 0, 0.75);
}
