.task-done {
  position: relative;
  text-decoration: line-through;
  color: rgba(192, 192, 192, 0.7);
  overflow: hidden;
  transition: all 0.4s ease-in;
}

.task-item {
  overflow: hidden;
}

.task-item:hover .task-remove__button {
  transform: translateX(0);
}

.task-remove__button {
  color: rgb(170, 25, 25);
  font-size: 1.1rem;
  transform: translateX(10rem);
  transition: all 0.4s ease-out;
}

.task-remove__button:hover {
  color: rgba(170, 25, 25, 0.7);
}
